@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Pages */


.main-container {
  width: 1200px;
  flex-grow: 1;
}

.main-header {
  width: 1200px;
  background-color: #ffffff;
  color: #000000;
  position: relative;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 412px;
  margin: 0;
  padding-left: 54.5px;
  /* outline: 5px solid black;
  outline-offset: -5px; */
}

.navigation-user {
  max-width: 270px;
  margin-left: 0;
  padding-left: 0;
  margin-right: 62px;
  align-items: center;
  /* justify-content: space-between; */
  /* border: 3px solid transparent; */
  border-radius: 10px;
}

.navigation-logo {
  width: 138px;
  margin: 0 auto;
  position: absolute;
  left:calc(50% - 138px/2);
}

.navigation-link {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 6px 12px 6px 12px;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navigation-link-user {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 7px;
  border: 3px solid transparent;
  height: 18px;
  border-radius: 10px;
  outline:none;
}

.navigation-item {
  padding-right: 5px;
}

.navigation-item-user {
  padding-right: 2px;
}

.navigation-item-user:nth-last-child(2) {
  padding-right: 23px;
}

.navigation-user .navigation-link {
  min-width: 10.5px;
  min-height: 16.5px;
  padding: 10px 10px 10px 10px;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 13px;
  right: 9px;
  background-color:  #756257;
  /* width: 100%; */
  height: 2px;
}

.navigation-link:focus{
  color: #756257;
  border: 3px solid #83B3D3;
  border-radius: 10px;
  padding: 6px 12px;
  margin-top:10px;
  outline: none;
}

.navigation-link:hover{
  color: #756257;
}

.navigation-link:active{
  color: #756257;
  opacity: 0.3;
  border: 3px solid transparent;
}

.navigation-link-user:focus{
  border: 3px solid #83B3D3;
}

.navigation-link-user:hover {
  fill: #756257;
  border: 3px solid transparent;
}

.navigation-link-user:active{
  fill: #756257;
  opacity: 0.3;
  border: 3px solid transparent;
}

.navigation-favorites {
  position: absolute;
  margin-top: 14px;
  margin-left: 61px;
  width: 19px;
  min-height: 19px;
  border-radius: 50%;
  background-color: #7db54f;
  text-align: center;
}

.favorites-number {
  display: block;
  font-weight: 400;
  font-size: 10px;
  line-height: 19px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  position: absolute;
  top:-3px;
  right:-5px;
}


.header-button {
  display: block;
  background-color: #756257;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 6px 31px 6px 31px;
  border: 3px solid #756257;
  border-radius: 4px;
  outline: none;
}

.header-button:focus {
  border: 3px solid #83B3D3;
  border-radius: 3px;
  outline:none;
}

.header-button:hover {
  background-color: #615048;
  border: 3px solid transparent;
}

.header-button:active {
  background-color: #615048;
  color:#ffffff4d;
  border: 3px solid transparent;
}

.popup {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  position: absolute;
  margin-left: 728px;
}

.header-popup-list {
  list-style-type: none;
  display: grid;
  width: 400px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.header-popup-item{
  display:flex;
  justify-content: space-between;
}
.popup-list-hotel{
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 21px;
  column-gap: 17px;
  box-sizing: border-box;
  margin-left: 25px;
  margin-bottom: 15px;
}

.popup-foto {
  grid-template-columns: 1 / 3;
  grid-template-rows:  1 / 2;
}

.popup-name-hotel{
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  min-width: 160px;
  grid-template-columns: 2 / 3;
  grid-template-rows:  1 / 2;
}

.popup-accommodation-facility {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
  padding: 0;
}

.popup-name-hotel {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
  color: #000000;
}

.popup-accommodation-facility {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  align-items: center;
  color: #333333;
}

.popup-basket {
  text-decoration: none;
  border-radius: 0;
  width: 36px;
  height: 36px;
  border: none;
  background-color: inherit;
  margin-right: 25px;
  margin-top: 1px;
  box-sizing: border-box;
  position: relative;
}

.popap-button {
  background-color: #756257;
  color: #ffffff;
  border-radius: 0 0 20 20;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 24px 131px 24px 131px;
  border-radius: 0px 0px 20px 20px;
}

.description {
  background-image: url("../img/divider.svg"), url("../img/bg-index.jpg");
  background-repeat: no-repeat, no-repeat;
  background-color: #000000;
  color: #ffffff;
  width: 1200px;
  display: flex;
  flex-direction: column;
  background-position-y: bottom, top;
}

.sedona-welcome {
  padding-top: 51px;
  margin: 0 auto;
  margin-bottom: 83px;
}

.caption-sedona {
  background: #ffffff;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 63px;
}

.reasons-to-come {
  background: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 79px;
}

.advantage-block-one {
  background-color: #83b3d3;
  text-align: center;
  color: #ffffff;
  padding: 98px 90px 50px 111px;
  box-sizing: border-box;
}

.advantage-block-two {
  background-color: #83b3d3;
  text-align: center;
  color: #ffffff;
  padding: 98px 90px 50px 90px;
  box-sizing: border-box;
}

.advantages-caption {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.advantages-caption-number {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 27px;
}

.advantages-caption-number::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 60px;
  top: "#";
  margin-top: 10px;
  background-color: #ffffff;
}

.advantages-caption-number::after {
content: "";
position: absolute;
width: 10px;
height: 2px;
left: 110px;
top: "#";
margin-top: 10px;
background-color: #ffffff;
}

.advantage-block-two .advantages-caption-number::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 125px;
  top: "#";
  margin-top: 10px;
  background-color: #ffffff;
  }

.advantage-block-two .advantages-caption-number::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 75px;
  top: "#";
  margin-top: 10px;
  background-color: #ffffff;
}

.advantages-caption-number-next {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-caption-number-next::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 170px;
    top: "#";
    margin-top: 10px;
    background-color: #333333;
}

.advantages-caption-number-next::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 220px;
  top: "#";
  margin-top: 10px;
  background-color: #333333;
}


.advantages-caption-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  margin-bottom: 37px;
}

.advantages-list-one {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.advantages-list-two {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

.advantages-title-one {
  margin-bottom: 29px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 28px;
}

.advantages-list-two .advantages-description {
  /* padding-bottom: 107px; */
}

.advantage-sedona-one {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #83b3d3;
  padding: 0;
  margin: 0;
}

.advantage-sedona-two {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #83b3d3;
  padding: 0;
  margin: 0;
}


.advantages-item {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding-top: 89px;
  padding-bottom: 55px;
  align-items: center;
}

.advantages-item-icon-one:before{
  content:"";
  display: block;
  background-image: url("../img/icon-home.svg");
  margin-bottom: 22px;
  background-position: center;
  height: 75px;
  background-repeat: no-repeat;
}

.advantages-item-icon-two:before {
  content:"";
  display: block;
  background-image: url("../img/icon-burger.svg");
  margin-bottom: 27px;
  background-position: center;
  height: 70px;
  background-repeat: no-repeat;
}

.advantages-item-icon-three:before {
  content:"";
  display: block;
  background-image: url("../img/icon-present.svg");
  margin-bottom: 22px;
  background-position: center;
  height: 76px;
  background-repeat: no-repeat;
}

.advantages-item-one {
  padding-top: 95px;
  padding-bottom: 35px;
}

.advantages-item-two {
  background: #ffffff;
  width: 400px;
  padding-top: 89px;
  padding-bottom: 60px;
  align-items: center;
}

.advantages-item-three {
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
  padding-top: 95px;
  padding-bottom: 82px;
  align-items: center;
}

/* .icon-home{
  background-image: url("../img/icon-home.svg");
  margin-bottom: 22px;
  background-position: center;
  height: 75px;
  background-repeat: no-repeat;
}

.icon-burger {
  background-image: url("../img/icon-burger.svg");
  margin-bottom: 27px;
  background-position: center;
  height: 70px;
  background-repeat: no-repeat;
}

.icon-present {
  background-image: url("../img/icon-present.svg");
  margin-bottom: 22px;
  background-position: center;
  height: 76px;
  background-repeat: no-repeat;
} */

.find-hotel {
  text-align: center;
  background-color: #ffffff;
  padding-top: 91px;
  padding-bottom: 101px;
}

.find-hotel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 28px;
}

.find-hotel-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 74px;
}

.button-find-hotel {
  background-color: #756257;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 17px 151px 13px 151px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid transparent;
}

.button-find-hotel:focus {
  background-color: #615048;
  border: 3px solid #83B3D3;
  outline: none;
}

.button-find-hotel:hover {
  background-color: #615048;
}

.button-find-hotel:active {
  color: #ffffff4d;
  border: 3px solid transparent;
}

.subscription {
  text-align: center;
  width: 1200px;
  padding-top: 94px;
  padding-bottom: 92px;
}

.subscription-index {
  background-image: url("../img/bg-index-two.jpg");
  background-color: #83b3d3;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscription-inner {
  background-color: #ffffff;
  color: #000000;
  padding-top: 38px;
  padding-bottom: 140px;
}

.subscription-head {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.subscription-head-index {
  color: #ffffff;
}

.subscription-head-inner {
  color: #000000;
}

.spam-free-subscription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 45px;
}

.spam-free-subscription-index {
  color: #ffffff;
}

.spam-free-subscription-inner {
  color: #333333;
}

.form-subscription {
  margin: 0 auto;
  padding: 0;
  color: #000000;
  display: grid;
  grid-template-columns: 1fr 200px;
  width: 800px;
  box-sizing: border-box;
}

.form-yourmail {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
  color: #000000;
  background-color: #F2F2F2;
  height: 60px;
  border: none;
}

.form-yourmail:hover {
  background-color: #E6E6E6;
}

.form-yourmail:focus {
  background-color: #E6E6E6;
  box-shadow: inset 0px 0px 1px 3px #83b3d3;
  outline:none;
}

.form-yourmail:active {
  box-shadow: inset 0px 0px 1px 2px #000000;
  color: #000000;
  background-color: #ffffff;
}

.error {
  box-shadow: inset 0px 0px 1px 2px #FF5757
}

.subscribe-button {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.subscribe-button:focus {
  border: 3px solid #756257;
  background-color: #68A2CA;
  outline: none;
}

.subscribe-button:hover{
  background-color: #68A2CA;
  border: 3px solid transparent;
}

.subscribe-button:active {
  background-color: #68A2CA;
  border: 3px solid transparent;
  color: #ffffff4d;
}

.main-footer {
  background-color: #ffffff;
  padding: 28px 60px 40px 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  width: 170px;
  margin: 0;
  padding: 0;
}

.socials-item {
  margin-bottom: 15px;
  margin-right: 5px;
}

.socials-item:nth-child(3n) {
  margin-bottom: 15px;
  margin-right: 5px;
}

.socials-link {
  position: relative;
  display: block;
  border: 3px solid transparent;
  border-radius: 10px;
  outline: none;
  min-width: 34px;
  min-height: 34px;
}

.socials-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}


.socials-link:focus{
  fill:#68A2CA;
  border: 3px solid #68A2CA;
  border-radius: 10px;
}

.socials-link:hover .socials-icon{
  fill:#68A2CA
}

.socials-link:active .socials-icon{
  fill:#68A2CA;
  opacity: 0.3;
}

.container-contacts-phone{
  width: 720px;
  padding-left: 180px;
  padding-right: 30px;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 8px 15px 8px 15px;
  box-sizing: border-box;
}

.contacts-phone:focus {
  border: 3px solid #83B3D3;
  padding: 8px 15px 8px 15px;
  border-radius: 10px;
  width: 370px;
  outline:none;
  box-sizing: border-box;
}

.contacts-phone:hover {
  padding: 8px 15px 8px 15px;
  color: #756257;
  box-sizing: border-box;
}

.contacts-phone:active {
  padding: 8px 15px 8px 15px;
  color: #756257;
  opacity: 0.3;
  border: none;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 10px;
}

.logo-htmlacademy {
  border: 3px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.logo-htmlacademy:hover {
  border: 3px solid transparent;
  border-radius: 10px;
  fill: #756257;
  padding: 10px;
  box-sizing: border-box;

}

.logo-htmlacademy:focus {
  border: 3px solid #83B3D3;
  padding: 10px;
  border-radius: 10px;
  outline:none;
  box-sizing: border-box;

}

.logo-htmlacademy:active{
  opacity: 0.3;
}

.catalog-inner {
  background-image: url("../img/bg-catalog.jpg");
  background-color: #152628;
  color: #ffffff;
  background-repeat: no-repeat;
  padding: 38px 72px 76px 65px;
  background-size:cover;
}

.inner-header {
  /* width: 1200px;
  height: 408px; */
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  color: #ffffff;
  margin: 0;
  padding-left: 7px;
  /* margin-bottom: 5px; */
}

.breadcrumbs {
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 130px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  padding-right: 3px;
}

.catalog-parametrs {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-link {
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  padding: 1px 5px 1px 5px;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
  /* margin-top: 10px;
  margin-bottom: 10px; */
}

.breadcrumbs-link:focus {
  box-shadow: 0px 0px 0px 3px #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.breadcrumbs-link:hover {
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 0.6;
}
.breadcrumbs-link:active {
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 0.3;
}

.breadcrumbs-home{
  /* position: absolute; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #ffffff
}
/*
.breadcrumbs-link-home {
  position: relative;
  display: block;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
  min-width: 22px;
  min-height: 21px;
} */
/*
.breadcrumbs-link-home:hover {
  fill: #ffffff;
  opacity: 0.6;
  border: 3px solid transparent;
  border-radius: 4px;
}

.breadcrumbs-link-home:active {
  fill: #ffffff;
  opacity: 0.3;
  border: 3px solid transparent;
  border-radius: 4px;
}

.breadcrumbs-link-home:focus {
  fill: #ffffff;
  border: 3px solid #83B3D3;
  border-radius: 4px;
} */

.catalog-form {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 5px;
}

.catalog-filter-group {
  width: 150px;
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 65px;
}

.catalog-filter-style {
  list-style-type: none;
  margin-right: auto;
}

.catalog-filter-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  outline: none;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.button-forms {
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  margin-left: auto;
  width: 160px;
}

.button-apply {
  font-family: "PT Sans";
  background-color: #83b3d3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 11px 15px 10px 15px;
  margin: 0;
  border: 3px solid transparent;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 15px;
  outline: none;
}

.button-apply:hover{
  background-color: #68A2CA;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button-apply:active{
  background-color: #68A2CA;
  border: 3px solid transparent;
  border-radius: 4px;
  color: #ffffff4d;
}

.button-apply:focus{
  background-color: #68A2CA;
  border: 3px solid #ffffff;
  border-radius: 4px;
  color: #ffffff4d;
}

.button-reset {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  padding: 0;
  margin: 0;
  padding: 3px 3px 3px 3px;
  border: 3px solid transparent;
  border-radius: 4px;
  box-sizing: content-box;
  outline: none;
  align-self: center;
}

.button-reset:hover{
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 4px;
  opacity: 0.6;
  box-sizing: content-box;
}

.button-reset:active{
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 4px;
  opacity: 0.3;
  box-sizing: content-box;
}

.button-reset:focus{
  background-color: transparent;
  border: 3px solid #83B3D3;
  border-radius: 4px;
  color: #ffffff;
  box-sizing: content-box;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  color: #000000;
  padding: 44px 72px 42px 72px;
}

.sorting h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
}

.sorting-type {
  margin-left: auto;
  margin-right: 81px;
}

.select-control{
  padding: 12px 127px 13px 19px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}
.select-control:focus {
  border: 2px solid #83B3D3;
  outline: none;
}

.select-control:hover {
  border: 2px solid #83B3D3;
  outline: none;
}

.select-control:active {
  border: 2px solid #E6E6E6;
  outline: none;
}
/* .view-button {
  margin: 0;
  width: 48px;
  height: 48px;
  margin: 0;
  width: 48px;
  height: 48px;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #ffffff;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.view-button-active{
  border: 2px solid #000000;
} */

.view-button:not(:last-child) {
  margin-right: 8px;
}

.card-grid-toggle:not(:last-child) {
  margin-right: 8px;
}

.card-grid-toggle {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

/* .card-grid-toggle:link {
  border: 2px solid  #E6E6E6;
} */

.card-grid-toggle:focus {
  border: 2px solid #83B3D3;
  outline: none;
}

.card-grid-toggle:hover {
  border: 2px solid #83B3D3;
  outline: none;
}

.card-grid-toggle:active {
  border: 2px solid #000000;
  outline: none;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}

.card-grid-toggle-current:focus {
  border: 2px solid #83B3D3;
}

.card-grid-toggle-current:hover {
  border: 2px solid #83B3D3;
}

.card-grid-toggle-current:active {
  border: 2px solid #000000;
}

.cards {
  background-color: #ffffff;
  color: #000000;
}

.cards-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 72px;
  padding-right: 72px;
}

.cards-item {
  display: grid;
  grid-template-columns: 180px auto 180px;
  padding-top: 29px;
  padding-bottom: 31px;
  border-bottom: 1px solid #E6E6E6;
  gap: 22px;
}

.cards-item:first-child {
  border-top: 1px solid #E6E6E6;
}

.product-card-image {
  height: 120px;
  display: block;
  /* margin-top: 5px; */
  outline: none;
}

.product-card-image:hover {
  display: block;
  opacity: 0.6;
}

.product-card-image:active {
  display: block;
  opacity: 0.3;
}

.product-card-image:focus {
  display: block;
  box-shadow: 0px 0px 0px 3px #83b3d3;
  outline: none;
}

.product-subtitle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.product-description {
  display: grid;
  grid-template-columns: 157px 160px;
  grid-template-rows: min-content min-content;
  margin-bottom: auto;
  padding-left: 16px;
}

.product-rating {
  margin-left: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-card-title {
  grid-column: 1 /-1;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 0;
  border: 3px solid transparent;
  box-sizing: content-box;
  border-radius: 10px;
  /* padding: 10px; */
}

.rating-stars {
padding-top: 5px;
}

.name-card-title{
  padding: 5px 12px 1px 12px;
  /* border: 3px solid transparent;
  box-sizing: content-box; */
  border-radius: 10px;
  text-decoration: none;
  color: #000000;
  outline: none;
}

.name-card-title:hover {
  color: #756257;
  padding: 5px 12px 1px 12px;
  border-radius: 10px;
}
.name-card-title:active {
  color: #756257;
  padding: 5px 12px 1px 12px;
  border-radius: 10px;
  opacity: 0.3;
}
.name-card-title:focus{
  color: #756257;
  padding: 5px 12px 1px 12px;
  box-shadow: 0px 0px 0px 3px #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
}

.product-cards-subtitle{
  gap: 10px 80px;
  width: 235px;
  margin-bottom: 17px;
}

.product-card-subtitle {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.button-product {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 14px;
}

.detailed-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
  text-decoration: none;
  padding: 3px 29px 6px 29px;
  border: 3px solid transparent;
  border-radius: 4px;
  outline: none;
}

.detailed-button:hover{
  border: 3px solid transparent;
  border-radius: 4px;
  background-color: #615048;
  outline: none;
}

.detailed-button:active{
  border: 3px solid transparent;
  border-radius: 4px;
  background-color: #615048;
  color: #ffffff4d;
  outline: none;
}

.detailed-button:focus{
  border: 3px solid #83B3D3;;
  border-radius: 4px;
  background-color: #615048;
  outline: none;
}

.to-favorites {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  cursor: pointer;
  padding: 6px 29px 7px 29px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.to-favorites:hover{
  box-shadow: inset 0px 0px 0px 1px #756257;
  border:none;
  background-color: #68A2CA;
  outline: none;
}

.to-favorites:active{
  box-shadow: inset 0px 0px 0px 1px #756257;
  border:none;
  background-color: #68A2CA;
  outline: none;
  color: #ffffff4d;
  outline: none;
}

.to-favorites:focus{
  box-shadow: inset 0px 0px 0px 3px #756257;
  border:none;
  background-color:  #68A2CA;
  outline: none;
}

.in-favorites {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 3px 24px 6px 24px;
  border: 3px solid transparent;
  border-radius: 4px;
  outline: none;
}

.in-favorites:hover{
  background-color: #6C9E42;;
  outline: none;
}

.in-favorites:active{
  background-color: #6C9E42;
  color: #ffffff4d;
  outline: none;
}

.in-favorites:focus{
  border: 3px solid #756257;
  border-radius: 4px;
  background-color:  #6C9E42;
  outline: none;
}

.rating {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 9px 34px 10px 34px;
  border-radius: 4px;
  margin: 0;
}

.card-button {
  width: 1056px;
  margin: 0 auto;
  border-bottom: 1px solid #E6E6E6;
}

.cards-button {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
  padding: 14px 241px 14px 241px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 215px;
  border: none;
  cursor: pointer;
}

.footer-pagination {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  padding: 31px 72px 46px 72px;
}

.pagination {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
  text-decoration: none;
  padding-top: 15px;
  border: 3px solid transparent;
  border-radius: 4px;
  outline: none;
}

.pagination-link:focus {
  border: 3px solid #756257;
  border-radius: 4px;
  background-color: #68A2CA;;
  outline: none;
}

.pagination-link:hover {
  border: 3px solid transparent;
  background-color: #68A2CA;
  outline: none;
}

.pagination-link:active {
  border: 3px solid transparent;
  background-color: #68A2CA;
  color: #ffffff4d;
  outline: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  border: 3px solid transparent;
  border-radius: 4px;
}

.pagination-current:hover {
  border: 3px solid transparent;
  background-color: #f2f2f2;
  color: #000000;
  outline: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.footer-pagination p {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin-left: auto;
  margin-right: 51px;
}


/* Form */

.modal {
  width: 715px;
  background-color: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  position: absolute;
  top: 396px;
  left: calc(50% - 715px/2);
}

.modal-form-container{
  padding: 54px 68px 40px 67px;
  border: none;
}

.modal h2 {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.name-modal-form{
  display: flex;
  align-items: center;
  margin-bottom: 54px;
}

.modal-form-close{
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color:#F2F2F2;
  border: none;
  cursor: pointer;
  align-self: center;
  margin-left: auto;
}

.modal-form-close-button{
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.modal-button {
  font-family: "PT Sans";
  margin: 0;
  background-color: #83B3D3;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 22px 256px 24px 256px;
  border: none;
}

.modal-form {
  padding-left: 70px;
  text-align: center;
}



.form-arrival-date {

}

.form-date-of-departure {

}

.form-children {
  position: relative;

}

.modal-button {

}

.field-group {
  display: grid;
  grid-template-columns: 157px 419px;
  flex: wrap;
  margin: 0;
}

.form-label {
  grid-column: 1 / 2;
  font-weight: bold;
  font-size: 18px;
  line-height: 48px;
  align-items: center;
  color: #000000;
  text-align: start;
  width: 155px;
}

.button-minus-adults{
  position: absolute;
  right: 98px;
  top: 11px;
  border: none;
}

.button-plus-adults{
  position: absolute;
  border: none;
  right: 20px;
  top: 18px;
}

.button-minus-children{
  position: absolute;
  right: 98px;
  border: none;
}

.button-plus-children{
  position: absolute;
  border: none;
}

.field-one{
  font: inherit;
  font-weight: 700;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  font-family: "PT Sans";
  font-style: normal;
  font-size: 18px;
  line-height: 49px;
  color: #000000;
  text-align: center;
  width: 133px;
}

.field-two{

}

.field {
  grid-column: 2 / 3;
  margin: 0;
  padding: 8px 14px;
  font: inherit;
  font-weight: 700;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  font-family: "PT Sans";
  font-style: normal;
  font-size: 18px;
  line-height: 35px;
  color: #000000;
  /* border: 2px solid #242424; */
}
.field-hint{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #FF5757;
  margin-bottom: 10px;
}

.field-hint-paragraph{
font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 29px;
color: #333333;
}

.form-adults{
  /* display: grid;
  grid-template-columns: 155px 133px 153px 133px; */
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.form-label-adults {
  /* grid-column: 1 / 2; */
  width: 155px;
}

.field-adults {
  position: relative;
}

.form-label-children {
  /* padding-left: 56px;
  grid-column: 3 / 4; */
  display: flex;
  align-items: center;
  position: relative;
  left: 56px;
  width: 97px;

}

.field-children {
  /* grid-column: 4 / 5; */
  /* left: 53px;
  text-align: center;
  width: 133px; */
  position: relative;
  left: 56px;
  /* background-color: #F2F2F2; */
}

.field::placeholder
{color: #000000;
}

.info {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-top: -30px;
  margin-left: 108px;
  padding: 0;
  background-color: #83B3D3;
  border-radius: 50%;
  border: none;
  background-image: url("../img/info.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.info-children{
  position: relative;
}

.field-group input {
  align-items: stretch;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0); /* IE6, IE7 */
  clip-path: inset(100%);
}
