@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Pages */


.main-container {
  width: 1200px;
  flex-grow: 1;
}

.main-header {
  width: 1200px;
  background-color: #ffffff;
  color: #000000;
  position: relative;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 412px;
  margin: 0;
  padding-left: 54.5px;
  /* outline: 5px solid black;
  outline-offset: -5px; */
}

.navigation-user {
  max-width: 270px;
  margin-left: 0;
  padding-left: 0;
  margin-right: 62px;
}

.navigation-logo {
  width: 138px;
  margin: 0 auto;
  position: absolute;
  left:calc(50% - 138px/2);
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 19px 16.5px 20px 16.5px;
}

.navigation-user .navigation-link {
  min-width: 10.5px;
  min-height: 16.5px;
  padding: 22px 8px 18px 11px;
}


.navigation-favorites {
  position: absolute;
  margin-top: 14px;
  margin-left: 61px;
  width: 19px;
  min-height: 19px;
  border-radius: 50%;
  background-color: #7db54f;
  text-align: center;
}

.favorites-number {
  display: block;
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
}

.header-button {
  display: block;
  background-color: #756257;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 9px 34px 8px 34px;
  margin-top: 13px;
  margin-left: 26px;
  /* margin-bottom: 14px; */
}

.popup {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.header-popup-list {
  list-style-type: none;
}

.popup-name-hotel {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
  color: #000000;
}

.popup-accommodation-facility {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  align-items: center;
  color: #333333;
}

.popup-basket {
  text-decoration: none;
  border-radius: 0;
}

.popap-button {
  background-color: #756257;
  color: #ffffff;
  border-radius: 0 0 20 20;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 24px 141px 24px 141px;
  border-radius: 0px 0px 20px 20px;
}

.description {
  background-image: url("../img/bg-index.jpg");
  background-repeat: no-repeat;
  background-color: #000000;
  color: #ffffff;
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.description h1 {
  background: #ffffff;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 63px;
}

.description p {
  background: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 79px;
}

.sedona-welcome {
  padding-top: 51px;
  margin: 0 auto;
}

.divider {
  padding-top: 23px;
}

.advantage-block-one {
  background-color: #83b3d3;
  text-align: center;
  color: #ffffff;
  padding: 98px 90px 50px 111px;
  box-sizing: border-box;
}

.advantage-block-two {
  background-color: #83b3d3;
  text-align: center;
  color: #ffffff;
  padding: 98px 90px 50px 90px;
  box-sizing: border-box;
}

.advantages-caption {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.advantages-caption-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 27px;
}

.advantages-caption-number-next {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-caption-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  margin-bottom: 37px;
}

.advantages-list-one {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-list-two {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 28px;
}

.advantages-list-two .advantages-description {
  /* padding-bottom: 107px; */
}

.advantage-sedona-one {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #83b3d3;
  padding: 0;
  margin: 0;
}

.advantage-sedona-two {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #83b3d3;
  padding: 0;
  margin: 0;
}

.advantages-item-one {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding-top: 89px;
  padding-bottom: 55px;
  align-items: center;
}

.advantages-item-two {
  background: #ffffff;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 89px;
  padding-bottom: 55px;
  align-items: center;
}

.advantages-item-three {
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
  padding-top: 89px;
  padding-bottom: 55px;
}

.icon-home {
  margin-bottom: 24px;
}

.icon-burger {
  margin-bottom: 24px;
}

.icon-present {
  margin-bottom: 24px;
}

.find-hotel {
  text-align: center;
  background-color: #ffffff;
  padding-top: 91px;
  padding-bottom: 101px;
}

.find-hotel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 27px;
}

.find-hotel-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 74px;
}

.button-find-hotel {
  background-color: #756257;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 20px 151px 16px 151px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.subscription {
  text-align: center;
  width: 1200px;
  padding-top: 92px;
  padding-bottom: 87px;
}

.subscription-index {
  background-image: url("../img/bg-index-two.jpg");
  background-color: #83b3d3;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscription-inner {
  background-color: #ffffff;
  color: #000000;
}

.subscription-head {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.subscription-head-index {
  color: #ffffff;
}

.subscription-head-inner {
  color: #000000;
}

.spam-free-subscription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 45px;
}

.spam-free-subscription-index {
  color: #ffffff;
}

.spam-free-subscription-inner {
  color: #333333;
}

.form-subscription {
  border-radius: 0 10 10 0;
  color: #000000;
  margin-bottom: 30px;
}


.main-footer {
  background-color: #ffffff;
  padding: 40px 99px 40px 95px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 170px;
  margin: 0;
  padding: 0;
}

.socials-item {
  margin-bottom: 10px;
}

.socials-link {
  padding: 15px 15px;
}

.socials-item:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 10px;
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  width: 720px;
}

.logo-htmlacademy {
  /* padding-top: 43px;
  padding-right: 73px; */
}

.catalog-inner {
  background-image: url("../img/bg-catalog.jpg");
  background-color: #000000;
  color: #ffffff;
  background-repeat: no-repeat;
  /* width: 1200px;
  height: 408px; */
  padding: 35px 72px 70px 72px;
}

.inner-header {
  /* width: 1200px;
  height: 408px; */
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 5px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  width: 130px;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.breadcrumbs-item {
  padding-right: 11px;
}

.catalog-parametrs {
  display: flex;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  /* margin-right: 26px; */
}

.catalog-form {
  width: 1200px;
  display: flex;
  justify-content: space-around;
}

.catalog-filter-group {
  width: 150px;
  border: none;
}

.catalog-filter-style-list-style-type {
  margin-right: auto;
}

.catalog-filter-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  outline: none;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.button-forms {
  margin-top: auto;
  margin-bottom: auto;
  width: 160px;
}

.button-apply {
  background-color: #83b3d3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 17px 35px 19px 35px;
  margin: 0;
  border: none;
  margin-bottom: 20px;
}

.button-reset {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  color: #000000;
  padding: 44px 72px 42px 72px;
}

.sorting h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
}

.sorting-type {
  margin-left: auto;
  margin-right: 81px;
}


.view-button {
  margin: 0;
  width: 48px;
  height: 48px;
}

.view-button:not(:last-child) {
  margin-right: 8px;
}

.cards {
  background-color: #ffffff;
  color: #000000;
}

.cards-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 72px;
  padding-right: 72px;
}

.cards-item {
  display: flex;
  padding-top: 31px;
  padding-bottom: 31px;
  border-bottom: 1px solid #E6E6E6;
}

.cards-item:first-child {
  border-top: 1px solid #E6E6E6;
}

.product-card-image {
  /* margin: 20px; */
}

.product-subtitle {
  width: 480px;
  padding-left: 36px;
}

.product-rating {
  width: 200px;
  margin-left: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.product-cards-subtitle{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 235px;
  margin-bottom: 17px;
}

.product-card-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.detailed-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
  text-decoration: none;
  padding: 12px 32px 12px 32px;
}

.to-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
  padding: 12px 31px 12px 31px;
}

.in-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 4px;
  padding: 12px 31px 12px 31px;
}

.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 13px 35px 13px 35px;
  border-radius: 4px;
  margin: 0;
}

.card-button{
width: 1056px;
margin: 0 auto;
border-bottom: 1px solid #E6E6E6;
}

.cards-button {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
  padding: 19px 241px;
  margin-top: 61px;
  margin-bottom: 61px;
}

.footer-pagination {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  padding: 31px 72px 89px 72px;
}

.pagination {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
  text-decoration: none;
  padding-top: 17px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.footer-pagination p {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin-left: auto;
  margin-right: 51px;
}


/* Form */

.modal {
  width: 715px;
  background-color: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 70px;
}

.modal-button {
  margin: 0;
  background-color: #83B3D3;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  padding: 23px 257px 23px 257px;
}

.modal-form {
  padding-left: 70px;
  text-align: center;
}

.form-label {
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0); /* IE6, IE7 */
  clip-path: inset(100%);
}
